:root{
    --orange-050: #ffe8d9;
    --orange-100: #ffd0b5;
    --orange-200: #ffb088;
    --orange-300: #ff9466;
    --orange-400: #f9703e;
    --orange-500: #f35627;
    --orange-600: #de3a11;
    --orange-700: #c52707;
    --orange-800: #dd1d07;
    --orange-900: #841003;
   
    --gray-050: #f5f7fa;
    --gray-100: #e4e7eb;
    --gray-200: #cbd1d9;
    --gray-300: #9aa5b1;
    --gray-400: #7b8794;
    --gray-500: #616e7c;
    --gray-600: #52606d;
    --gray-700: #3e4c59;
    --gray-800: #323f4b;
    --gray-900: #1f2933;
}

/* Base styles */
html {
    font-size: 100%;
    font-weight: 300;
    font-family: "Roboto", Helvetica, Arial ;
    line-height: 1.4
}

body {
    display: flex;
    background-image: linear-gradient(236deg, black, red);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Clculator */
.calculator{
    box-shadow: 0 0 25px 0 rgba(0,0,0,0);
    border-radius: 0.5em;
    overflow: hidden;
}
.calculator__display{
    background-color: var(--gray-900);
    color: var(--gray-050);
    width: 16.25rem;
    padding: 0.75rem 1rem;
    text-align: right;
    font-size: calc(1rem*1.2*1.2*1.2);
}

.calculator__keys{
    display: grid;
    height: 15rem;
    /* grid-gap: 1.5px; */
    grid-template-columns: repeat(4,auto);
    grid-template-areas: 
    ". . . ."
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero decimal clear equal"

}
.calculator__keys button{
    /* border: 0; */
}

.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}
.seven{
    grid-area: seven;
}
.eight{
    grid-area: eight;
}
.nine{
    grid-area: nine;
}
.zero{
    grid-area: zero;
}
.decimal{
    grid-area: decimal;
}
.clear{
    grid-area: clear;
}
.equal{
    grid-area: equal;
    background-color: var(--orange-400);
}
.equal:hover,
.equal:focus{
    background-color: var(--orange-500);
}

[data-type="operators"] {
    background: var(--gray-200);
    border-width: 0.5px;
    border-color: var(--gray-300);
}
[data-type="operators"]:hover,
[data-type="operators"]:focus,
[data-type="operators"]:active{
    background: var(--gray-300);
}

[data-type="number"] {
    background: white;
    border-width: 0.5px;
    border-color: var(--gray-300);
}
[data-type="number"]:hover,
[data-type="number"]:focus,
[data-type="number"]:active{
    background: var(--gray-300);
}

[data-state="selected"] {
  background: var(--gray-400);
}

